{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
  <img class="profile-image" src="/static/assets/favicon/lewis2.jpg" alt="" />
  <h1>Hey Visitor! I'm Lewis Njaci</h1>

  <div class="content-text">
    <h2>Software Engineer</h2>
    <p>
      Can communicate in ASM, C, Python and Javascript<br>I design, develop, and maintain software systems and applications.
    </p>
    </p>
  </div>
  <a href="#footer" class="btn btn-secondary">Connect With Me</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Special Skills</h2>
    <div class="container">
      <table style="text-align: center;">
        <tr>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-cogs"></i></h2>
              <h4>Reverse Engineering</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-bug"></i></h2>
              <h4>Python Programming</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-code"></i></h2>
              <h4>Creating CLI tools</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-server"></i></h2>
              <h4>Database Management</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-cloud"></i></h2>
              <h4>Version Control With Git</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-linux"></i></h2>
              <h4>Containerization with Docker</h4>
            </div>
          </td>
        </tr>
      </table>
    </div>    
  </div>
</section>


<!-- Projects -->
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Popular Project</h2>
    <p>Check out some of my projects</p>
  </div>

  <div class="container">
    <div class="textcard">
      <table>
        <tr>
          <td>
            <img src="https://github.com/dmdhrumilmistry/pyhtools/blob/main/.images/PyHTools.png?raw=True"
              alt="Pyhtools image" style="width: auto; max-width: 100%;">
          </td>
          <td>
            <div class="container">
              <h3>Flask E-commerce</h3>
              <p style="text-align: justify;">Flask E-commerce is a robust and flexible e-commerce platform built with Flask, a popular Python web framework. It provides a comprehensive suite of features to support online businesses, including:
              </p>
                <ul class="asterisk-list" style="text-align: justify;">
                  <li>Product Management: Add, update, and manage products with ease. Supports multiple product categories and images.</li>
                  <li>Shopping Cart: Allows customers to add products to a cart and manage their orders.</li>
                  <li>Checkout Process: Secure and streamlined checkout process, with support for multiple payment methods.</li>
                  <li>User Authentication: Secure user registration and login system, with password reset functionality.</li>
                  <li>Order Management: Track and manage customer orders, with support for order statuses and notifications.</li>
                  <li>Search Functionality: Powerful search functionality to help customers find products.</li>
                  <li>Responsive Design: The site is fully responsive and works on a variety of devices and screen sizes.</li>
                </ul>
              <a href="https://github.com/LewisJassy/Online-Shop" class="btn btn-secondary">View Project <i class="fab fa-github"></i></a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <a href="{{url_for('projects_page')}}" class="btn btn-secondary">See More <i class="fas fa-arrow-right"></i></a>
</section>
{% endblock %}